/*** Base Styles **/

html, body {
	font-family: 'Abel', sans-serif;
	font-family: 'Noto Sans SC', sans-serif;
}

body {
	margin-top: 100px;
}
footer {
	margin-top: 150px;
	display: block;
	overflow: auto;
	position: relative;
	clear:both;
}

.btn {
	border-radius: 0rem !important;
}
.featured {
	font-size: 1.6rem;
	color: #f9f9f9;
	display: flex;
	flex-direction: column;
	background-color: rgba(31, 31, 31, 0.548);
	background-image: url('../../images/banners/main.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	object-position: center;
	object-fit: contain;
	height: 480px;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.copyright {
	font-size: 1rem;
	color: #fff;
}
.copyright:hover{
	color: #f33;
	transition: .3s all ease-in;
}
.nav-footer a {
	color: #aaa;
	font-size: 1.1rem;
}

.nav-footer a:hover {
	color: #f33;
	transition: .3s all ease-in;
}
/*** Product Styles ***/

.card .product {
	width: 10rem;
	margin: 2px 16px 2px 16px;
}

.card.product:hover {
	transform: scale(1.05) !important;
	transition: .3s all ease-in-out;
}
.product h4 {
	color: #030303;
}

.product price {
	font-weight: 500;
}

.product img {
	max-height: 14rem !important;
	max-width: 14rem !important;
	object-fit: cover;
	object-position: center;
}

.product-link {
	color: #131313;
	font-size: 1.3rem;
}

.product-link:hover {
	color: #d70315 !important;
	transition: .3s all ease-in;
}

.btn-product  {
	color: #fcfcfc;
	background-color: #d70315;
	border-color: #d70315;
}

.btn-product:hover {
	color: #fcfcfc;
	background-color: #b71111;
	border-color: #b71111;
	-webkit-transition: all .25s ease-in-out;
	   -moz-transition: all .25s ease-in-out;
	    -ms-transition: all .25s ease-in-out;
	     -o-transition: all .25s ease-in-out;
	        transition: all .25s ease-in-out;
}

.checked {
  color: #ffa500;
}

a.checked:hover {
	color: #fff;
	-webkit-transition: all .25s ease-in;
	   -moz-transition: all .25s ease-in;
	    -ms-transition: all .25s ease-in;
	     -o-transition: all .25s ease-in;
	        transition: all .25s ease-in;
}

/**  Reviews classes */

.reviews .overall_rating .num {
    font-size: 30px;
    font-weight: bold;
    color: #F5A624;
}
.reviews .overall_rating .stars {
    letter-spacing: 3px;
    font-size: 32px;
    color: #F5A624;
    padding: 0 5px 0 10px;
}
.reviews .overall_rating .total {
    color: #777777;
    font-size: 14px;
}

.review-box {

}

i.stars {
	    letter-spacing: 3px;
    font-size: 24px;
    color: #F5A624 !important;
}

/*** Shopping Cart ***/
.cart-item {
	color: #131313;
	text-decoration: none;
}
.cart-item:hover {
	color: #d7003c;
	text-decoration: none;
	-webkit-transition: all .25s ease-in;
	   -moz-transition: all .25s ease-in;
	    -ms-transition: all .25s ease-in;
		 -o-transition: all .25s ease-in;
	        transition: all .25s ease-in;
}
/*** Colors & Backgrounds ***/
.bg-black {
	background-color: #121212;
}

/*** Navbar ***/

.nav-text {
	font-size: 1.1em;
	font-weight: 500;
}
.nav-text-link {
	color:  #fff;
}

.nav-text-link:hover {
	color: #d70315 !important;

	transition: .5s all linear;

}
.nav-link {
	font-size: 1.1em;
	font-weight: 500;
}

.nav-link:hover {
	color: #d70315 !important;
}

.active {
	color: #d7003c !important;
	transition: .3s all ease-in;
}